<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496668339725-mmohra54lid4ej71dhbt8ll95pp11hvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496668339725-mmohra54lid4ej71dhbt8ll95pp11hvu</string>
	<key>API_KEY</key>
	<string>AIzaSyBJkh-RGFXk0iT4K97RFzEFtqJRmMUN5c0</string>
	<key>GCM_SENDER_ID</key>
	<string>496668339725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.expensetracker</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-de61d</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-de61d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496668339725:ios:758df38a99e51239946f44</string>
</dict>
</plist>